{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{#Container#}

<div class="container">

    <div class="row"></div>
    <div class="row">
            <h3>Vous avez la possiblité de : <hr><br></h3><hr><br>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card h-100">
                    <a href="/reunion"><img src="/images/photo.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h3 class="card-title">Gérer les réunions</h3>
                        <p class="card-text">Vous avez la possibilité d'organier des réunions, les modifier ou les annuler</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <a href="/participant"><img src="/images/participant.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h3 class="card-title">Gérer les participants</h3>
                        <p class="card-text">Vous pouvez choisir ceux qui participent à une réunion donnée</p>
                    </div>
                </div>
            </div>
            
            <div class="col mb-4">
                <div class="card h-100">
                    <a href="/rapport"><img src="/images/Capture2.PNG" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h3 class="card-title">Avoir les rapports</h3>
                        <p class="card-text">Vous pouvez vérifier les présences aux réunions, les différentes réunions organisées sur une période donnée, avoir les rapports</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <img src="/images/logo_m.jpg" class="rounded" alt="..." style="">
        <p>Pour vous permettre de mieux gérer les présences à vos réunions</p>
    </div>


</div>


{% endblock %}
