{% extends 'base.html.twig' %}

{% block title %}Hello RapportController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{#Container#}
    <div class="container-fluid">
        {#First Row#}
        <div class="row">
            <div class="text-center col md-4 sm-3">
                <h1>Rapport de vos réunions</h1>
            </div>
        </div>
        {#End first row#}

        {#Second row#}
            <div class="row">
            
            </div>

        {#End seconf row#}


    </div>
{#End container#}

{% endblock %}
